<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/design.css">
    </head>
<body>

    <h1 id="searchh1" class="text-center">Search Your Favorite Movie</h1>
    <form action="/results" method="GET" class="justify-content-center d-flex"></form>
    <input type="text" name="search" class="form-control w-25" placeholder="Enter Movie Name...">
    <button class=" ml-3 tex-center btn-btn-success"> Search Movie</button>
    
</body>
</html>